{% extends "base.html" %}
{% load static %}

{% block 'head' %}
    <title>Visualizar Livros</title>
{% endblock 'head' %}

{% block 'body' %}
    <div class="container">
        <h1>Livros</h1>
        {% if messages %}
            {% for message in messages %}
                <section class="alert {{message.tags}}">
                    {{message}}
                </section>
                <br>
            {% endfor %}
        {% endif %}
        {% if is_funcionario %}
            <p><a href="{% url "livro_cadastro" %}">Cadastrar um novo Livro</a></p>
        {% endif %}
        <div class="col-md-5">
            <form action="{% url "visualizar_livros" %}" method="get">
                {% csrf_token %}
                <input type="text" name="nome_livro" placeholder="Buscar por Livro" style="margin-bottom: 1rem" class="form-control">
                <input type="submit" value="Buscar" class="btn btn-primary">
                <a href="{% url "visualizar_livros" %}" class="btn btn-outline-dark">Resetar</a>
            </form>
        </div>
        <hr>
        <div class="row">
            <br>
            {% for livro in livros %}
                <div class="col-md-4" style="margin-right: auto">
                    <div class="card" style="width: 18rem; margin-bottom: 5%;">
                        {% if is_funcionario %}
                            <div class="row">
                                <abbr title="Excluir livro">
                                    <a href="{% url "alterar_livro" livro.id %}">
                                        <img src="{% static "img/pen-edit.svg" %}" alt="Símbolo de Alterar" style="width: 8%;">
                                    </a>
                                </abbr>
                                <abbr title="Excluir livro">
                                    <a href="{% url "excluir_livro" livro.id %}">
                                        <img src="{% static "img/cross-exclude.svg" %}" alt="Símbolo de Excluir" style="width: 8%;">
                                    </a>
                                </abbr>
                            </div>
                        {% endif %}
                        <div class="d-flex align-items-center">
                            <img src="{{livro.capa.url}}" alt="foto do livro" class="card-img-top mx-auto" style="max-width: 60%; object-fit: contain; margin-top: 5%">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{livro.nome}}</h5>
                            <p>Gêneros: {% for genero in livro.generos.all %}{{genero.nome}}{% endfor %}</p>
                            <p>Autor&#40a&#41: {{livro.autor.nome}}</p>
                            <p>Editora: {{livro.editora.nome}}</p>
                            <p>Descrição: {{livro.descricao}}</p>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>Nenhum livro encontrado.</p>
            {% endfor %}
        </div>
    </div>
{% endblock 'body' %}