{% extends "base.html" %}
{% load static %}

{% block 'head' %}
    <title>Visualizar Editoras</title>
{% endblock 'head' %}

{% block 'body' %}
    <div class="container">
        <h1>Editoras</h1>
        {% if messages %}
            {% for message in messages %}
                <section class="alert {{message.tags}}">
                    {{message}}
                </section>
                <br>
            {% endfor %}
        {% endif %}
        {% if is_funcionario %}
            <p><a href="{% url "editora_cadastro" %}">Cadastrar uma nova Editora</a></p>
        {% endif %}
        <div class="col-md-5">
            <form action="{% url "visualizar_editoras" %}" method="get">
                {% csrf_token %}
                <input type="text" name="nome_editora" placeholder="Buscar por Editora" style="margin-bottom: 1rem" class="form-control">
                <input type="submit" value="Buscar" class="btn btn-primary">
                <a href="{% url "visualizar_editoras" %}" class="btn btn-outline-dark">Resetar</a>
            </form>
        </div>
        <hr>
        <div class="row">
            <br>
            {% for editora in editoras %}
                <div class="col-md-4" style="margin-right: auto">
                    <div class="card" style="width: 18rem; margin-bottom: 5%;">
                        {% if is_funcionario %}
                            <div class="row">
                                <abbr title="Excluir editora">
                                    <a href="{% url "alterar_editora" editora.id %}">
                                        <img src="{% static "img/pen-edit.svg" %}" alt="Símbolo de Alterar" style="width: 8%;">
                                    </a>
                                </abbr>
                                <abbr title="Excluir editora">
                                    <a href="{% url "excluir_editora" editora.id %}">
                                        <img src="{% static "img/cross-exclude.svg" %}" alt="Símbolo de Excluir" style="width: 8%;">
                                    </a>
                                </abbr>
                            </div>
                        {% endif %}
                        <div class="d-flex align-items-center">
                            <img src="{{editora.foto_editora.url}}" alt="foto da editora" class="card-img-top mx-auto" style="max-width: 60%; object-fit: contain; margin-top: 5%">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{editora.nome}}</h5>
                            <p>Email: {{editora.email}}</p>
                            <p>Site: <a href="{{editora.site}}" target="_blank">{{editora.site}}</a></p>
                            <p>Descrição: {{editora.descricao}}</p>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>Nenhuma editora encontrada.</p>
            {% endfor %}
        </div>
    </div>
{% endblock 'body' %}