{% extends "base.html" %}

{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static "css/home.css" %}">
{% endblock 'head' %}


{% block 'body' %}
    <!--TODO Adicionar barra de navegação do partials -->
    <div class="container">
        <br>
        <h1><b>GERENCIADOR DE BIBLIOTECA</b></h1>
        <div class="col-md-4">
            {% if messages %}
                {% for message in messages %}
                    <br>
                    <section class="alert {{message.tags}}">
                        {{message}}
                    </section>
                {% endfor %}
            {% endif %}
        </div>

        <div class="links">
            <fieldset>
                <legend>Tabelas</legend>
                <a href="{% url "login" %}">Login</a>
                <br>
                <a href="{% url "logout" %}">Logout</a>
                <br>
                <a href="{% url "cadastro_usuario" %}">Usuários</a>
                <br>
                <a href="{% url "visualizar_autores" %}">Autores</a>
                <br>
                <a href="{% url "visualizar_editoras" %}">Editoras</a>
                <br>
                <a href="#">Livros</a>
                <br>
            </fieldset>
        </div>
    </div>
{% endblock 'body' %}