{% extends "base.html" %}

{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static "css/home.css" %}">
{% endblock 'head' %}


{% block 'body' %}
    <div class="container">
        <br>
        <h1><b>GERENCIADOR DE BIBLIOTECA</b></h1>
        <div class="col-md-4">
            {% if messages %}
                {% for message in messages %}
                    <br>
                    <section class="alert {{message.tags}}">
                        {{message}}
                    </section>
                {% endfor %}
            {% endif %}
        </div>

        <div class="links">
            <fieldset>
                <legend>Tabelas</legend>
                <a href="{% url "login" %}">Login</a>
                <br>
                <a href="{% url "logout" %}">Logout</a>
                <br>
                <a href="{% url "cadastro_funcionario" %}">Torne-se um Funcionário</a>
                <br>
                <a href="{% url "cadastro_usuario" %}">Cadastro de Usuário</a>
                <br>
            </fieldset>
        </div>
        <fieldset>
            <legend><label for="nome_tabelas"><b>Consulta de Tabelas</b></label></legend>
            <form action="consulta_tabela.php" method="post">
                <select name="nome_tabelas" id="nome_tabelas">
                    <option value="3">Consultar Autores</option>
                    <option value="5">Consultar Editora</option>
                    <option value="6">Consultar Livro</option>
                    <option value="7">Consultar Empréstimos</option>
                    <option value="8">Consultar Reservas</option>
                    <option value="9">Consultar Exemplares</option>
                </select>
        
                <button>Enviar</button>
            </form>
        </fieldset>
    </div>
{% endblock 'body' %}